@import url('../_fonts/fonts.css');

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
    background: linear-gradient(rgb(100, 100, 100), rgb(50, 50, 50));
    color: white;
    font-size: 15pt;
    border-bottom: 4px ridge black;
}

.nav__items {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 0 10px;
}

.nav__items li {
    list-style-type: none;
    border-right: 1px;
}

.nav__items li:hover {
    color:rgb(142, 142, 255);
    cursor: pointer;
}
